
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form method="post" action="/home/add">
            id : <input type="text" name="id" /><br />
            name : <input type="text" name="name" /><br />
            Address : <input type="text" name="address" /><br />
            age : <input type="text" name="age" /><br />

            <button type="submit">save</button>

        </form>
    </div>
</body>
</html>
