
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        @* Razor Engin Make it possiable to write C# code in Views *@

        @{

            <h1>id : @ViewBag.id</h1>
            <h1>name : @ViewBag.name</h1>
            <h1>age : @ViewBag.age</h1>

        }
    </div>
</body>
</html>
