
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        <form action="add" method="post">

            id:<input type="text" name="s.id" /><br />
            name:<input type="text" name="s.name" /><br />
            age:<input type="text" name="s.age" /><br />

            <input type="submit" value="save" />

        </form>
    </div>
</body>
</html>
