
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div> 
        <div>
            <h1 style="color:red">about page  </h1>
            <h2>Welcome To MVC</h2>
            <a href="~/test/contact">contact</a>
        </div>
    </div>
</body>
</html>
