
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contact</title>
</head>
<body>
    <div>
        <h3>contact page</h3>
        <a href="~/test/about">about</a>

    </div>
</body>
</html>
